* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

/* css 리셋을 위한 최소한의 태그들입니다 이 정도는 외워 두시는 거 추천드려요 */

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}

​

/* 요소를 숨기기 위한 속성들입니다 

대신 width: 0px, height: 0px, display: none, opacity: 0 등의 태그들은 비추합니다
(시각장애인들이 사용하는 프로그램도 인식을 못 해서 웹 접근성에 부합하지 않습니다/
시각장애인들은 스크린리더기를 프로그램을 통해 소리로 웹을 서핑합니다) */

​

.wrapper {
  position: relative;

  height: 1000px;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
}

.status-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

/* 시간을 정중앙에 위치시키기 위해 시간의 부모인 status-bar에게 position: relative를 주었습니다*/

.status-menu.time {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* 정중앙에 위치시키기 위한 코드들입니다 flex의 justify-content: space-between으로는 요소를 정중앙에 위치시키기 어려워요

그래서 와이파이, 배터리는 맨끝에 위치하게 justify-content: space-between;을 주고 시간만 정가운데로 위치시켰습니다  */

.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}

.icons-list {
  display: flex;
}

.icons-item:not(:last-child) {
  margin-right: 40px;
}

.content {
  padding-top: 90px;
}

.sc-friend-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: #dcdcdc;
}

.sc-friend-info i {
  margin-right: 10px;
}
